In [1]:
import pandas as pd

In [2]:
js = pd.read_json(r'./data/A1301-110000.json')

In [5]:
js_normalized=pd.io.json.json_normalize(js)

AttributeError: 'str' object has no attribute 'values'

In [12]:
js.json()

AttributeError: 'DataFrame' object has no attribute 'json'

In [13]:
import json

In [15]:
files='./data/A1301-110000.json'
with open(files) as f:
  data = json.load(f)

In [24]:
pd.DataFrame(data['returndata']['datanodes']).head()

,code,data,wds
0,zb.A01010401_reg.110000_sj.202003,"{'data': 103.75331222, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
1,zb.A01010401_reg.110000_sj.202002,"{'data': 104.00732373, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
2,zb.A01010401_reg.110000_sj.202001,"{'data': 104.46560582, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
3,zb.A01010401_reg.110000_sj.201912,"{'data': 102.29231526, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
4,zb.A01010401_reg.110000_sj.201911,"{'data': 102.20274122, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."

In [57]:
df=pd.DataFrame(data['returndata']['datanodes'])
df.head()

,code,data,wds
0,zb.A01010401_reg.110000_sj.202003,"{'data': 103.75331222, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
1,zb.A01010401_reg.110000_sj.202002,"{'data': 104.00732373, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
2,zb.A01010401_reg.110000_sj.202001,"{'data': 104.46560582, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
3,zb.A01010401_reg.110000_sj.201912,"{'data': 102.29231526, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."
4,zb.A01010401_reg.110000_sj.201911,"{'data': 102.20274122, 'dotcount': 1, 'hasdata...","[{'valuecode': 'A01010401', 'wdcode': 'zb'}, {..."

In [58]:
def getkeys(data):
    keys = data.keys()
    return keys
def list_to_column(data):
    value= data['data']
    return value
def list_to_column(data):
    value= data['data']
    return value
#pd.DataFrame(data['returndata']['datanodes'])['data'].apply(list_to_column)
list(df['data'][0].keys())[0]

df['value']=df['data'].apply(list_to_column)
df['value']=df['data'].apply(list_to_column)

In [71]:
def json_to_column(data)
    r = json.read(data)
    
pd.DataFrame(df['wds'][0])['valuecode'][0]

'A01010401'

In [33]:
pd.DataFrame(data['returndata']['wdnodes']).head(10)

                                               nodes wdcode wdname
0  [{'cname': '居民消费价格指数(上年同期=100)', 'code': 'A010...     zb     指标
1  [{'cname': '北京市', 'code': '110000', 'dotcount'...    reg     地区
2  [{'cname': '2020年3月', 'code': '202003', 'dotco...     sj     时间